@media (max-width: 768px) {
    header {
        position: relative;
    }

    .top-bar {
        align-items: center;
        font-size: 8px;
        overflow: scroll;
        text-wrap: nowrap;
    }

    .top-bar span {
        margin: 2px 0;
        font-size: 9px;
    }

    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .logo {
        width: 200px;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        z-index: 1000;
    }

    nav.active {
        max-height: 1000px;
        /* Adjust this value based on your maximum expected height */
        transition: max-height 0.5s ease-in;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        gap: 0;
    }

    nav ul li {
        border-bottom: 1px solid #e0e0e0;
    }

    nav ul li a {
        display: block;
        padding: 15px;
        background-color: #f9f9f9;
        color: #333;
        text-align: left;
    }

    nav ul li:first-child a {
        background-color: #8cc63f;
        color: white;
        border-bottom: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 25px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 10;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: #333;
    }

    .hamburger.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }

    .call-button {
        padding: 10px 20px;
        font-size: 14px;
    }

    .video-container {
        min-height: 60vh;
    }
    .service-description h2 {
        font-size: 1.8em;
        margin: 2rem auto 2rem;
    }
    .services-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .services-container {
        width: 90%;
        margin: auto;
        max-width: max-content;
    }

    .service-card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2rem;
        width: 100%;
        overflow: hidden;
    }


    .project {
        flex-direction: column;
        width: 85%;
    }

    .project-text {
        width: 100%;
    }

    .project-image {
        width: 100%;
    }


    .what-is-hosting .column {
        width: 100%;
    }

    section.what-is-hosting {
        flex-direction: column;
    }


    /* uber-uns */
    .team-content {
        padding: 23px 1rem;
        text-align: left;
    }
    .team-content h2 {
        font-size: 1.8em;
        width: 90%;
        margin: 0 auto 1em;
    }
    .team-location h2{
        margin: 0 auto 1em 0;

    }
    .team-section {
        flex-direction: column;
            gap: 3rem;
    }
    .team-section p {
        font-size: 1.2em;
        line-height: 1.8em;
    }
    .paragraph {
        margin-bottom: 1rem;
        font-size: 1.2em;
        line-height: 1.8em;
    }
    .team-description {
        width: 90%;
        margin: auto;
    }

    .team-projects {
        width: 90%;
        margin-top: 0rem;
        margin: auto;
    }
    a.team-button {
        width: 100%;
        text-align: center;
    }
    .team-location {
        width: 90%;
        margin: 3rem auto;
    }

    .team-hosting .container {
        display: flex;
        justify-content: space-between;
        width: 90%;
        flex-direction: column-reverse;
        margin: auto;
    }
    .hosting-features, .hosting-stats {
        width: 100%;
        margin: auto;
    }

    .hosting-stats{
        margin: 0;
    }
    .hosting-stats h2{
        font-size: 2.2em;
    }
    .hosting-features{
        background-color: #5083cce0;
    }
    .hosting-features .feature {
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    main.inner-content {
        width: 90%;
        flex-direction: column;
        margin: 2rem;
    }

    .text-content,.image-content {
        width: 100%;
    }


    /* web */
    .web-header {
        height: 300px;
        font-size: 1.3em;
        text-align: center;
    }
    .digitization a.contact-button {
        font-size: 0.7rem;
        top: -20%;
    }
    /* mobile apps */

    section.intro {
        margin: 3rem 1rem;
        flex-direction: column;
        gap: 2rem;
    }
    .mobile-page-banner {
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./assets/smartphone-6701409_1920.jpg);
        height: 300px;
        text-align: start;
        background-blend-mode: overlay;
        align-items: start;
    }

    .mobile-page-banner h1 {
        font-size: 2em;
        margin: 0;
        text-align: left;
    }

    .mobile-page-banner p {
        font-size: 1em;
        text-align: left;
        max-width: 100%;
    }

    .ideenfindung {
        padding: 20px;
    }

    .ideenfindung h2{
        font-size: 1.2em;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-item {
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact-button {
        width: max-content;
        padding: 1rem 3rem;
        border-radius: 30px;
    }

    .service-image {
        margin-top: 3rem;
        width: 100%;
    }
    .service-items {
        width: 100%;
        min-width: 200px;
    }

    .advantage-item p {
        font-size: 1.1em;
        line-height: 33px;
    }

    .what-is-hosting .column {
        width: 90%;
        margin: auto;
    }
    .professional-hosting .container {
        width: 90%;
        margin: auto;
    }
  

    .contact-container {
        width: 90%;
        margin: auto;
        flex-direction: column;
        padding: 0;
    }

    .contact-form {
        width: 100%;
        padding: 2rem;
    }

    /* frontend-backend */
    h1.page-heading {
        font-size: 2em;
        text-align: start;
    }
    .page-banner {
        padding: 5rem 0;
    }
    .service-container, .advantages-container {
        max-width: 1140px;
        margin: 0 auto;
        width: 85%;
    }
    .advantage-item p {
        font-size: 1.1em;
        line-height: 2.5rem;
    }
    .service-description p {
        font-size: 1.1rem;
        line-height: 2.2rem;
    }

    /* hosting */
    .professional-hosting .container .stats h2 {
        padding: 7rem 2rem;
        font-size: 2rem;
    }
    .professional-hosting .container .feature, .professional-hosting .container .stats {
        width: 100%;
    }
    .professional-hosting .container .feature {
        background: #208cdfbd;
       
    }
    .professional-hosting .container .feature {
        padding: 1.5rem;
    }
    .inner-feature .paragraph {
        margin-bottom: 1rem;
        font-size: 1em;
        line-height: 1.8em;
    }
    /* api */
    .intro.api .paragraph {
        font-size: 1em;
    }
    .ideenfindung.api {
        padding: 2rem 1rem;
    }

    /* kontact */
    .inforamtion {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    h2.contact-heading.aos-init.aos-animate {
        WIDTH: 100%;
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        text-align: center;
    }
.contact-info .sub-heading {
    text-align: center;
    width: 100%;
}


}